---
import Button from "../shared/Button.astro";
import Container from "../shared/Container.astro";
import TidyCalModal from "../shared/TidyCalModal.astro";
---

<section id="cta" class="pb-20">
  <Container>
    <div class="mx-auto text-center max-w-xl md:max-w-2xl relative">
        <h1
          class="text-3xl/tight sm:text-4xl/tight md:text-5xl/tight
          font-bold text-heading-1"
        >
          Contáctenos hoy para dar el primer paso hacia una <span class="text-transparent bg-clip-text bg-gradient-to-br from-indigo-600 from-20% via-primary via-30% to-green-600">presencia digital</span> destacada. ¡Estamos listos para empezar su proyecto!
        </h1>

        <div class="mx-auto max-w-md sm:max-w-xl pt-10 flex flex-wrap justify-center gap-4"> 
          
          <a href="https://wa.me/50600000000" target="_blank" rel="noopener noreferrer">
            <Button variant={"primary"}>
              <span class="text-white relative z-[5]">
                WhatsApp
              </span>
            </Button>
          </a>
          
          <a href="#" onclick="openModal('tidycal-modal'); return false;"> 
            <Button variant={"primary"}>
              <span class="text-white relative z-[5]">
                Reunión
              </span>
            </Button>
          </a>
          
        </div>

      </div>
    </div>
  </Container>
</section>

<TidyCalModal client:load path="biesal/cotizacion" />